/*--------------------------
MEDIAS QUERIES
----------------------------*/

/*------Max 1328 px------*/

@media (max-width: 1328px) {
  .menu-hidden {
    display: flex !important;
  }
  .main-menu {
    flex-wrap: wrap;
  }
  .main-menu div {
    min-width: calc(25% - 50px);
    height: 60px;
    margin-bottom: 10px;
  }
  .main-menu div:nth-child(4) {
    margin-right: 0px;
  }
  .pictures {
    height: 370px;
  }
}

/*------Max 1024 px------*/

@media (max-width: 1024px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
  header nav a span {
    display: none;
  }
  header nav a {
    border-radius: 50%;
    padding: 0px;
  }
  header img {
    width: 130px;
  }
  .main-menu {
    display: inline-flex;
    flex-wrap: nowrap;
  }
  .main-menu div {
    height: 60px;
    margin-bottom: 10px;
  }
  .pictures {
    height: 270px;
  }
  .pictures .col-2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
  }

  .travel {
    display: flex;
    flex-direction: column;
  }
  .col-1 {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
  }
  .col-2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
  }
  .col-2 .top {
    padding: 30px;
    width: 50%;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
    box-sizing: border-box;
  }
  .col-2 .bottom {
    width: 50%;
    min-height: 300px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
  }
}

/*------Max 768 px------*/

@media (max-width: 768px) {
  header nav {
    display: none;
  }
  header > div {
    justify-content: space-between;
    align-items: center;
  }
  .header-hidden {
    display: flex !important;
  }
  .pictures .col-2 {
    display: none;
  }
  .pictures .col-1 {
    width: 100%;
  }

  .col-2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .col-2 .top {
    padding: 30px;
    width: 100%;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    box-sizing: border-box;
  }
  .col-2 .bottom {
    width: 100%;
    min-height: 300px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 0px;
  }
  .must-see {
    height: 100%;
    flex-direction: column;
  }

  .must-see .col-1 {
    width: 100%;
    padding-right: 0px;
  }
  .must-see .col-2 {
    width: 100%;
    display: flex;
    flex-direction: row;

    overflow-x: scroll;
  }
  .col-carousel {
    height: 100%;
    width: calc(100% - 100px);
    flex-shrink: 0;
  }
  .col-carousel:not(:last-child) {
    margin-right: 0px;
  }
  .col-carousel .picture {
    position: relative;
    height: 435px;
    width: 580px;
    margin-right: 0px;
    margin-bottom: 10px;
  }

  .picture img {
    object-fit: cover;
    width: 100%;
  }
}
