/*--------------------------
ROOT : charte graphique couleurs
----------------------------*/
:root {
  --rose-trip: #fe5d5d;
  --dark-grey-trip: #534b4b;
  --light-grey-trip: #f2f2f2;
  --vert-trip: #35e0a1;
}

/*--------------------------
GLOBAL
----------------------------*/
body {
  font-family: "Trip Sans Reg";
  color: black;
}

.container {
  width: 1140px;
  margin: auto;
  /* border: 1px solid red; */
}

h1 {
  font-family: "Trip Sans Med";
  font-weight: 500;
  font-size: 54px;
  margin-top: 20px;
}

h2 {
  font-family: "Trip Sans Med";
  font-size: 28px;
  margin-bottom: 20px;
  line-height: 33px;
}

h3 {
  font-size: 32px;
  margin-bottom: 20px;
  line-height: 40px;
}

h4 {
  font-family: "Trip Sans Med";
  font-size: 24px;
  margin-bottom: 20px;
  margin-top: 20px;
  line-height: 28px;
}
h5 {
  font-family: "Trip Sans Med";
  font-size: 18px;
  line-height: 22px;
}

h1 span {
  color: var(--rose-trip);
}

/*--------------------------
HEADER
----------------------------*/
header {
  height: 60px;
  background-color: #fff;
  border: solide 1px var(--dark-grey-trip);
}

header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
header img {
  width: 183px;
}

header nav {
  display: flex;
  justify-content: space-evenly;
  width: 500px;
}
header nav a {
  display: flex;
  justify-content: center;
  border-radius: 22px;
  align-items: center;
  padding: 12px;
  text-decoration: none;
  color: inherit;
}

header nav a:hover {
  background-color: var(--light-grey-trip);
}

header nav a i {
  padding: 0 10px;
}

header button {
  color: #fff;
  background-color: #000;
  border-radius: 20px;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  border: none;
}

header button:hover {
  background-color: var(--dark-grey-trip);
}

/*--------------------------
MAIN
----------------------------*/

/*------NAV MAIN MENU-----*/

.main-menu {
  display: flex;
  height: 80px;
  padding: 10px 0;
  margin: 20px 0;
}

.main-menu div {
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid black;
  flex: 1;
  margin: 0 5px;
  padding: 20px;
}

.main-menu div:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

/*------PICTURES------*/

.pictures {
  display: flex;
  height: 430px;
}

.pictures .col-1 {
  height: 100%;
  margin-right: 2px;
  flex: 1;
}
.pictures .col-2 {
  height: 100%;
  width: 480px;
}

.pictures .col-1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.pictures .col-2 img {
  height: calc(50% - 1px);
  width: 100%;
  object-fit: cover;
  display: block;
}
.pictures .col-2 img:first-child {
  margin-bottom: 2px;
}

/*------BREADCRUMB------*/

.breadcrumb {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  margin-top: 20px;
}

/*------TRAVEL------*/

.travel {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
/*------Travel > Infos------*/
.infos {
  padding-right: 200px;
}

.infos p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 23px;
}

/*------Travel > organization------*/
.organization {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

/*--Haut du bloc organization--*/

.top-orga {
  padding: 30px;
  display: flex;
  flex-direction: column;
  background-color: var(--rose-trip);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.top-orga p {
  font-weight: 100;
}
.top-orga button {
  color: #fff;
  background-color: #000;
  border-radius: 22px;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  border: none;
  margin-top: 30px;
  height: 55px;
  width: 150px;
  text-align: center;
  line-height: 55px;
}

.top-orga button:hover {
  background-color: var(--dark-grey-trip);
}

/*--Carte en dessous--*/

.bottom-orga {
  width: 465px;
  height: 214px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-image: url(../img/image_trips_card_medium.png);
  background-size: cover;
  background-position: center;
}

/*------SECTION LES IMMANQUABLES------*/

/*--texte intro--*/

.immanquables {
  height: 315px;
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}

.immanquables .col-1 {
  flex: 1;
  margin-right: 20px;
  padding-right: 20px;
}
.immanquables .col-1 p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 20px;
}
.immanquables .col-1 a {
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  color: #000;
}
.immanquables .col-1 a:hover {
  text-decoration: underline;
}

/*--Carousel--*/

.immanquables .col-2 {
  flex: 3;
  display: flex;
  overflow-x: scroll;
}

.immanquables .col-2 .point {
  width: 270px;
  height: 100%;
  margin-right: 20px;
}

.immanquables .col-2 .point p {
  font-size: 14px;
  line-height: 17px;
}
.pic {
  position: relative;

  height: 200px;
  width: 270px;
  margin-bottom: 10px;
}

.pic img {
  object-fit: cover;
  width: 100%;
}
.circle {
  background-color: #fff;
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  left: 220px;
  top: 10px;
}
.circle:hover {
  background-color: var(--light-grey-trip);
  cursor: pointer;
}
.picto-trip {
  position: absolute;
  width: 30px;
  top: 160px;
  left: 10px;
}

.immanquables .col-2 .point .point-text {
  padding: 10px;
}
.rank {
  width: 30%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.immanquables .col-2::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.immanquables .col-2 {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/*--------------------------
FOOTER
----------------------------*/
footer {
  height: 156px;
  background-color: var(--light-grey-trip);
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer img {
  height: 60px;
  margin-right: 20px;
}

footer p {
  color: var(--dark-grey-trip);
}

footer a {
  text-decoration: none;
  color: var(--rose-trip);
}
